@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --font: 'Combo', cursive;
    --brown: #211915;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: var(--font);
}

a{
    text-decoration: none;
}

a:visited{
    color: var(--brown);
}

a:hover{
    color: rgba(221, 134, 20, 0.85);
}

a:active{
    color: rgb(17,164,184);
}


/*? Header */
/** General para todas las páginas **/
.banner{
    max-height: 20em;
    margin-bottom: 20.2em;
    position: relative;
}

.img-container{
    width: 100%;
    height: 20em;
    position: absolute;
    background-color: rgba(161, 158, 95, 0.85);
    margin-bottom: 10em;
    background-image: url("../img/design1_image2.jpg");
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
}

.img-container img{
    width: 100%;
    height: 100%;
    opacity: 0.45;
    z-index: 1;
}

.title{
    color: var(--brown);
}

.title > h1{
    font-size: 3.5em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    padding-left: 0.5em;
    position: absolute;
    right: 0;
    margin-top: -20px;
    margin-right: 30px;
    z-index: 2;
}

.navbar a{
    background-color: #3d25b1;
    color: white;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.86);
}

.navbar a:focus{
    background-color: green;
}

.container-subtitle{
    max-height: 5em;
    text-align: center;
    margin-bottom: 5em;
    position: relative;
}

.subtitle{
    width: 100%;
    background-color: black;
}

.subtitle > h2{
    font-size: 2em;
    color: white;
}
/*? Fin Header */


/*? Main */
/** General **/
.info{
    display: flex;
    gap: 4em;
}

.logo{
    margin-top: -10px;
    padding-left: 1em;
}

.logo img{
    width: 100px;
}

/** Game Info **/
.tabla{
    width: 55%;
    padding: 0 1em;
}

.tabla-head{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.tabla-head h2{
    text-align: center;
    font-size: 2em;
}

.tabla-head p{
    text-decoration: underline;
}

.tabla>table{
    border-spacing: 0.5em;
    width: 95%;
    margin-bottom: 3em;
}

.table-title>th{
    text-align: left;
}

.location{
    padding-left: 0.5em;
}

.table-date{
    text-align: center;
}

.tabla-info{
    font-weight: bold;
}

.gamesInfo-contact{
    margin-top: 2em;
}

.gi-contact{
    display: flex;
    justify-content: space-between;
}

.gi-contact>div{
    margin-top: 0.7em;
}

.tabla>p{
    margin-bottom: 1em;
}

.gi-contact>div>p{
    margin-bottom: 1em;
}

/** About MDHL **/
.definition{
    margin-right: 2em;
}

.definicion_evento{
    margin-bottom: 1.5em;
    padding-left: 1em;
}

.termino{
    font-weight: bold;
}

.sangria{
    padding-left: 1em;
}

.definicion{
    margin-bottom: 1.5em;
}

.definition{
    width: 85%;
}

/** Rules **/
.rules{
    width: 80%;
    margin: 0 0 5em 1em;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 2em;
}

.container-section{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-section > section > h2{
    margin-bottom: 1em;
}

.sportsmanship > p{
    text-indent: 2em;
}

.lista-letras{
    list-style-type: lower-latin;
}

.regulations>ol{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.regulations>ol>li::marker{
    font-weight: bold;
}

.regulations>ol>li>h3{
    display: inline;
}

.plays>p{
    text-indent: 2em;
}

.plays>ul{
    padding-left: 4em;
}
.plays>ul>li{
    list-style-type: circle;
}

/** Contact **/
.text{
    margin-top: 1em;
}

/** Registration **/
.registration{
    width: 65%;
    padding: 0 2em 1em 1em;
}

.registration>h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.2em;
}

.registration h3{
    font-size: 0.95em;
}

.private-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    margin-bottom: 2em;
}

/* Para que no me muestre el warning en el comprobador de HTML */
.private-info>h2{
    display: none;
}

.private-info input{
    flex-grow: 1;
    margin-left: 0.4em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

/* display: flex, para que me permita aplicar flex-grow a los input */
.name{
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

.last-name{
    grid-column: 2;
    grid-row: 1;
    display: flex;
}

.address{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
}

.city{
    grid-column: 1;
    grid-row: 3;
    display: flex;
}

.zip-code{
    grid-column: 2;
    grid-row: 3;
    display: flex;
}

.birthDate{
    grid-column: 1;
    grid-row: 4;
    display: flex;
}

.birthDate input{
    text-align: center;
}

.gender{
    grid-column: 2;
    grid-row: 4;
}

.grade{
    grid-column: 1/3;
    grid-row: 5;
}

/* Selecciono el label "Pre-School" */
.grade>label:nth-of-type(2){
    margin-left: 0.4em;
}

.closest-school{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
}

.closest-school>h3:first-child{
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 0.7em;
}

.closest-school>h3:nth-of-type(2){
    grid-column: 1/3;
    grid-row: 2;
    margin-bottom: 0.7em;
}

.column1-closestSchool{
    grid-column: 1;
    grid-row: 3;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    grid-auto-rows: minmax(1em, auto);
    width: 60%;
}

.column2-closestSchool{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    grid-auto-rows: minmax(1em, auto);
    width: 60%;
    margin-left: -10em;
}

/* Formato de texto corrido */
.column2-closestSchool input:nth-last-of-type(2),
.column2-closestSchool label:nth-last-of-type(2){
    margin-left: 0.15em;
}

.item3{
    margin-left: 0.4em;
}

.position-play{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
}

.position-play>h3{
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 0.7em;
}

.column1-positionPlay{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    grid-auto-rows: minmax(1em, auto);
    width: 60%;
}

.column2-positionPlay{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    grid-auto-rows: minmax(1em, auto);
    width: 60%;
    margin-left: -13em;
}

/* Formato de texto corrido */
.column2-positionPlay input:nth-last-of-type(2),
.column2-positionPlay label:nth-last-of-type(2){
    margin-left: -0.08em;
}

.uniform-size{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
}

.uniform-size>h3{
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 0.7em;
}

.column1-uniformSize{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    width: 60%;
}

.column2-uniformSize{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-items: start;
    grid-template-columns: 1em 1fr;
    grid-auto-rows: minmax(1px, 1.2em);
    width: 60%;
    margin-left: -10.5em;
}

/* Formato de texto corrido */
.column2-uniformSize input:nth-last-of-type(2),
.column2-uniformSize label:nth-last-of-type(2){
    margin-left: 0.2em;
}

.permission-play>h3{
    margin-bottom: 0.7em;
}

.permission-play>p{
    text-align: justify;
}

.signature,
.date{
    margin-top: 1em;
}

.permission-play input{
    margin-left: 0.4em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.signature input{
    width: 28em;
}

.date input{
    text-align: center;
}

/* Alinear boton al centro */
form{
    display: flex;
    flex-direction: column;
}

.submit{
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.6em;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.submit:hover{
    background-color: transparent;
    color: black;
}
/*? Fin Main */